# dependencies
node_modules/
client/node_modules/
server/node_modules/

# production
client/build/

# environment variables
.env
server/.env
client/.env

# IDEs and OS files
.vscode/
.DS_Store
*.pem

### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
